@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
    --padding-global: 1rem;
    --fonte-global: 'Titillium Web';
    --fonte-global2: 'Montserrat';
    --azul-marinho: #1F2B44;
    --azul-principal: #1942BB;
    --amarelo-principal: #FBBB40;
    --borda-linha: 2px solid #FFF;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: var(--fonte-global);
    color: #FFF;
}

main,
i {
    display: grid;
    place-items: center;
}

ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    color: var(--azul-marinho)
}

/* Os estilos globais tambem contem a estrutura do header*/
header {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0%;
    z-index: 1;
    transition: 250ms ease-out;
    border-bottom: 1px solid transparent;
}

.scroll_header{
    border-bottom: 1px solid var(--azul-marinho);
    backdrop-filter: blur(15px);
    background-color: #1f2b449d;
}

.content_obj_header {
    display: flex;
    justify-content: space-between;
    height: 70px;
}

#logo_header {
    width: 70px;
    height: 70px;
}

#icon_header {
    margin-right: 1rem;
    font-size: 22px;
    color: #FFF;
}

nav.menu_header {
    height: calc(100% - 70px);
    opacity: 0;
    display: none;
    transition: 300ms ease-out;
}

nav.menu_header ul {
    gap: 4rem;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    text-transform: capitalize;
}

.contact_btn {
    font-size: 18px;
    font-weight: 600;
    border-radius: 25px;
    background-color: var(--amarelo-principal);
    padding: 10px;
    width: 60%;

}

.contact_btn:nth-child(1) {
    padding: .5rem 1.5rem;
    width: 100%;
}

/*header se expande */
.expanded {

    height: 80vh;
    border-radius: 0 0 20px 20px;
    border-bottom: 2px solid var(--azul-marinho);
    backdrop-filter: blur(15px);
    background-color: #1f2b449d;
}

header.expanded nav.menu_header {
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Os estilos globais tambem contem a estrutura do Footer*/
footer {
    padding: 1.25rem;
    width: 100%;
    height: 55vh;
    background: linear-gradient(0deg, var(--azul-marinho) 0%, #1f2b44b9 100%),
        url(/assets/images/back_image_footer_2.png);
    background-size: cover;
}

.social-midia_footer,
.container_content_footer {
    display: grid;
    place-items: center
}

footer .container_content_footer {
    height: 30%;
}

.img_footer {
    width: 150px;
}


footer .container_links_footer {
    height: 70%;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    justify-content: end;
}

footer .control_list_footer {
    font-size: 14px;
    display: flex;
    width: 100%;
    justify-content: space-between;

}

footer .container_list_footer {
    padding-left: 10px;
    border-left: var(--borda-linha);
}

footer .container_list_footer h3 {
    margin-bottom: 10px;
    font-weight: 600;
}

footer .container_list_footer ul {
    flex-direction: column;
}

.social-midia_footer {
    font-weight: 600;
    text-align: center;
}

.social-midia_footer ul {
    padding: 1rem 0;
    gap: var(--padding-global);
}

footer .container_links_footer p {
    font-size: 14px;
}

footer i {
    font-size: 18px;
    padding: 8px 9.13px;
    border-radius: 50%;
    border: var(--borda-linha);
}

/*Responsividade*/
@media screen and (min-width: 992px) {
    header {
        width: 80%;
        margin-top: 1.5rem;
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid transparent;
    }

    .scroll_header{
        margin-top: var(--padding-global);
        border-radius: 25px;
        border: 1px solid var(--azul-marinho);
    }

    #icon_header {
        display: none;
    }

    nav.menu_header {
        display: block;
        opacity: 1;
    }

    nav.menu_header ul {
        gap: 2rem;
        font-size: 18px;
        flex-direction: row;

    }

    .menu_header ul .itens_header {
        padding: .5rem 1.5rem;
        border: 2px solid transparent;
        cursor: pointer;
        border-radius: 25px;
        transition: 400ms ease;
    }

    .menu_header ul .itens_header:hover {
        border: var(--borda-linha);
    }

    .menu_header ul .itens_header:hover:nth-child(5) {
        border: 2px solid transparent;
    }

    footer {
        height: 35vh;
    }

    footer i {
        font-size: 22px;
        padding: 10px 12px;
    }

    footer .container_links_footer {
        flex-direction: row;
        align-items: end;
        justify-content: space-between;
    }

    .img_footer {
        width: 200px;
    }

    footer .control_list_footer,
    .social-midia_footer,
    .container_links_footer p {
        width: 33%;
    }

    footer .control_list_footer {
        gap: 5rem;
        justify-content: start;
    }

    .social-midia_footer ul {
        padding: 1rem 0 0 0;
    }

    .rigth_footer {
        text-align: end;
    }

}