section.banner {
    padding: 1.25rem;
    height: 100vh;
    background: linear-gradient(180deg, var(--azul-marinho) 0%, #1f2b448f) 100%,
                url(/assets/images/back_image_banner.png);
    background-size: cover;
}

.container_conteudo_banner {
    padding: 1.5rem;
    border: 2px solid #fff;
    border-radius: 20px;
    width: 100%;
    height: calc(100% - 70px);
    position: relative;
    top: 60px
}

.conteudo_txt {
    color: #FFF;
    height: 50%;
    text-align: center;
}

.conteudo_txt h1 {
    font-size: 32px;
}

.conteudo_txt p {
    font-size: 22px;
}

.conteudo_txt button {
    font-size: 18px;
    font-weight: 600;
    border-radius: 25px;
    background-color: var(--amarelo-principal);
    padding: 10px;
    width: 70%;
}

.container_conteudo_banner,
.conteudo_txt {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    align-items: center;
}