.container_sobre_nos {
    width: 100%;
    padding: 3rem;
    background-color: var(--azul-marinho);

    h1 {
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        font-size: 30px;
        margin-bottom: 35px;
    }
    p{
        font-size: 18px;
    }
}

.texto_container{
    display: flex;
    flex-direction: column;
    gap: 35px
}

.container_visao{
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.static_slide {
    display: none;
    width: 100%;
}

.static_slide div {
    width: 260px;
    border-radius: 15px;
    transition: 0.3s;
    box-shadow: 6px 6px 20px 5px #00000014;
    margin: 0px 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.static_slide div:hover {
    transform: translateY(5px);
}

.static_slide ul {
    display: flex;
    flex-direction: column;
    list-style: disc;
    margin-left: 20px;
}

.static_slide * {
    color: var(--azul-marinho);
}

.static_slide h1, .slide h1 {
    margin-bottom: 20px;
}

.slider {
    box-shadow: 6px 6px 20px 5px #00000014;
}

.slide div {
    border-radius: 15px;
    transition: 0.3s;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide div * {
    color: var(--azul-marinho);
}

.slide ul {
    display: flex;
    flex-direction: column;
    list-style: disc;
    margin-left: 20px;
}

/*SLIDER VISÃO*/

    #slide1_visao:checked ~ .first {
        margin-left: 0%;
    }

    #slide2_visao:checked ~ .first {
        margin-left: -33.33%;
    }

    #slide3_visao:checked ~ .first {
        margin-left: -66.66%;
    }

    #slide1_visao:checked ~ .manual_nav .auto_btn1 {
        background-color: var(--azul-marinho);
    }

    #slide2_visao:checked ~ .manual_nav .auto_btn2 {
        background-color: var(--azul-marinho);
    }

    #slide3_visao:checked ~ .manual_nav .auto_btn3 {
        background-color: var(--azul-marinho);
    }

/**/

@media screen and (min-width: 992px) {

    .sobre_nos{
        width: 100%;
    }

    .container_sobre_nos {
        padding: 5.5rem 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
            h1{
                font-size: 40px;
                margin-bottom: 40px;
            }
            p{
                font-size: 20px;
            }
    }

    .texto_container{
   
        width: 50%;
     
    }

    .static_slide {
        display: flex;
        justify-content: center;
    }
}


